<div class="card bottom-spaced-box">
    <a (click) = "openCategoryScreen($event)" style = "cursor: pointer;">
    <img src = {{category.imageUrl}} class = "card-img-top img img-responsive">
    </a>
    <div class="card-body">
       
            
                <div style = "display: flex; justify-content: center;">
                    <h5 class="card-title center-text pangolin" style= "font-size: 30px; display: inline-block;">
                        {{getCategoryName()}}
                    </h5>
                    <h5>
                        <button class = "btn choc-button" style = "display: inline-block; margin-left: 20px;" (click) = "onAddItem()">Add item</button>
                    </h5>
                </div>
                
            
                
            
            
        
    </div>
</div>