<div class="container" *ngIf="!isLoading">
  <h1>Add items here!</h1>
  <h5>for: {{ parentCategoryData.categoryName }}</h5>

  <form [formGroup]="addItemForm" (ngSubmit)="onSubmit(addItemForm.value)">
    <!-- Image Upload -->
    <div class="form-group">
      <label for="photo">Photo Upload</label>
      <div class="file-input-container">
        <input
          type="file"
          id="photo"
          class="file-input"
          (change)="onFileChange($event)"
          accept="image/*"
        />
        <label class="file-input-label button-blue" for="photo" style="font-size: 15px"
          >Choose a file</label
        >
      </div>
      <div class="photo-preview" *ngIf="photoPreview">
        <img [src]="photoPreview" alt="Photo Preview" />
      </div>
    </div>

    <!-- Basic Details -->
    <div class="form-group">
      <label>ITEM NAME</label>
      <input type="text" formControlName="itemName" class="form-control" />
    </div>

    <div class="form-group">
      <label>MRP</label>
      <input type="number" formControlName="itemPrice" class="form-control" />
    </div>

    <!-- Default Slabs -->
    <hr />
    <h5 style="color: green;">Default Slabs</h5>
    <div formGroupName="defaultSlab">
      <div class="row" *ngFor="let slab of [1, 2, 3]">
        <div class="col-xs-4">
          <label>Slab {{ slab }} Start:</label>
          <input type="number" class="form-control" [formControlName]="'slab_' + slab + '_start'" />
        </div>
        <div class="col-xs-4">
          <label>Slab {{ slab }} End:</label>
          <input type="number" class="form-control" [formControlName]="'slab_' + slab + '_end'" />
        </div>
        <div class="col-xs-4">
          <label>Slab {{ slab }} Discount %:</label>
          <input
            type="number"
            class="form-control"
            [formControlName]="'slab_' + slab + '_discount'"
          />
        </div>
      </div>
    </div>

    <!-- Area Wise Slabs -->
    <hr />
    <h6 style="color: red;">Add Slab Data per Area</h6>
    <div class="row" formArrayName="areaWiseSlabs">
      <div
        *ngFor="let areaCtrl of areaWiseSlabsControls; let i = index"
        [formGroupName]="i"
        class="col-12 border p-2 mb-3"
      >
        <h4 style = "font-weight: bolder; text-decoration: underline; text-decoration-color: red;">{{ areaCtrl.value.areaName | titlecase}}</h4>
        <label>
          <input type="checkbox" formControlName="useDefault" (change)="onToggleUseDefault(i)" />
          Use default slab
        </label>

        <div class="row" *ngFor="let slab of [1, 2, 3]">
          <div class="col-xs-4">
            <label>Slab {{ slab }} Start:</label>
            <input
              type="number"
              class="form-control"
              [formControlName]="'slab_' + slab + '_start'"
            />
          </div>
          <div class="col-xs-4">
            <label>Slab {{ slab }} End:</label>
            <input
              type="number"
              class="form-control"
              [formControlName]="'slab_' + slab + '_end'"
            />
          </div>
          <div class="col-xs-4">
            <label>Slab {{ slab }} Discount %:</label>
            <input
              type="number"
              class="form-control"
              [formControlName]="'slab_' + slab + '_discount'"
            />
          </div>
        </div>
        <hr>
      </div>
    </div>

    <button type="submit" class="btn choc-button">Submit</button>
  </form>
</div>

<div class="loader center" *ngIf="isLoading"></div>
