<div *ngIf = "!isLoading" class = "container">
    <h1>Add a new referrer!</h1>
    <h5 class ="emoji">Now users can select who referred them!</h5>


    <form [formGroup]="addReferrerForm" (ngSubmit) = "onSubmit(addReferrerForm.value)">

           <div class="form-group">
             <label for="name">REFERRER NAME/CODE : </label>
             <input type="text" id="name" formControlName="referrerName" class = "form-control">
             <hr>
             <label for="mobile">Mobile Number : </label>
             <input type="text" id="mobile" formControlName="contact" class = "form-control">
           </div>       
           <button type="submit" class = "btn choc-button">Submit</button>
         </form>

</div>

<div class="loader" *ngIf = "isLoading" style = "position: absolute; top:50%; left: 50%;"></div>

