<div class = "loader" *ngIf = "isLoading"></div>
<div class="container" *ngIf = "!isLoading">
    <h3 class = "inline-heading">ODO Dark Stores</h3>
        <button class = "btn choc-button" (click) = "onAddDarkStore()">Add A New Dark Store</button> 
    <hr>

    <p style = "color:red">To delete , make sure first all referrers and sub-admins are mapped to a different store.</p>

    <ul class="list-group list-group-flush">
        <li class="list-group-item" style ="height:50px;" *ngFor = "let store of darkStoresData; let i = index;">{{store.darkStoreName | uppercase}}
            
        </li>
      </ul>
</div>
