<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-tabs">
                <li role = "presentation" routerLinkActive = "active"><a routerLink = "/manage/distributors">Members</a></li>
                <li role = "presentation" routerLinkActive = "active"><a routerLink = "/manage/admins">Sub-Admins</a></li>
                <li role = "presentation" routerLinkActive = "active"><a routerLink = "/manage/areas">Areas</a></li>
                <li role = "presentation" routerLinkActive = "active"><a routerLink = "/manage/banners/b2b">B2B-Banners</a></li>
                <li role = "presentation" routerLinkActive = "active"><a routerLink = "/manage/referral/leaderboard">Referral Leaderboard</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>