<div class="container">
    <button class = "btn btn-success" (click) = "openGoogleMaps()">Open Google Maps</button>
</div>
  
  <div class="instructions">
    <h3>🗺️ Upload Your Delivery Map CSV</h3>
    <ol>
      <li>Click <strong>"Create a New Map"</strong> in the embedded window.</li>
      <li>Click <strong>"Import"</strong>.</li>
      <li>Select the downloaded <code>shop_locations.csv</code> file.</li>
      <li>Choose:
        <ul>
          <li><b>Location columns:</b> delivery-latitude, delivery-longitude</li>
          <li><b>Label:</b> shop</li>
        </ul>
      </li>
    </ol>
    <li>Click on uniform style , set labels --> shop to see shop names in the map</li>
    <li>On Right of all items , you'll see an option to change color and marker icon.</li>
  </div>

  